 <div>
    <h1>Welcome!</h1>
    <h5>Checkout any of our fabulous blogs below</h5>
</div>


<div class="main-container">
    {{#each blogs as |blog|}}
    <div class="card-header col-md-12 blog">
       <div>
            <h2>{{title}}</h2>
            <p>Created by:
                {{user.user_name}}
            </p>
            <p>On:
                {{date_created}}
            </p>
         </div>
         <div id="content">
         <a href="/blog/{{blog.id}}">{{content}}</a> |
        
        
            
        </div>     
    </div>
       
    {{/each}}

    <div class="col-md-6">
    <h3>Add a Blog:</h3>
    <form class="form new-blog-form">
        <div class="form-group"></div>
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group col-md-6">
        <label for="blog-content">Blog Entry:</label>
        <textarea style= "width:800px" class="form-input" type="text" id="new-blog" name="new-blog"></textarea>
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>
<!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="js/blog.js"></script>
    {{/if}}
</div>
